<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid text-center bg-grey">
  <h2>Nurses Data</h2>
  <!-- <p>The .table-striped class adds zebra-stripes to a table:</p>             -->
  <table class="table table-striped">
        <!-- <nav class="navbar navbar-default"role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header navbar-right">
                        <a href="//127.0.0.1:8000/home/" class="navbar-brand">HOME</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li> <a href="#">PATIENTS</a></li>
                        <li> <a href="//127.0.0.1:8000/home/Doctor">DOCTORS</a></li>
                        <li> <a href="//127.0.0.1:8000/home/Nurse">NURSES</a></li>
                        <li> <a href="//127.0.0.1:8000/home/Technician">TECHNICIANS</a></li>
                        <li> <a href="//127.0.0.1:8000/home/Machine">MACHINES</a></li>
        
                    </ul>
                </div>
      </nav> -->
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Department</th>
        <th>Shift</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jasmine</td>
        <td>34</td>
        <td>Female</td>
        <td>jess@gmail.com</td>
        <td>Emergency</td>
        <td>3-9 PM</td>
      </tr>
      <tr>
        <td>Mickey</td>
        <td>36</td>
        <td>Male</td>
        <td>Mickey@yahoo.com</td>
        <td>Corobary unit</td>
        <td>8-11 AM</td>
      </tr>
      <tr>
        <td>Jomana</td>
        <td>50</td>
        <td>Female</td>
        <td>JomanaW@gmail.com</td>
        <td>Burn Center</td>
        <td>2-6 PM</td>
      </tr>
      <tr>
        <td>Khaled</td>
        <td>40</td>
        <td>Male</td>
        <td>KhaledIb@gmail.com</td>
        <td>Hospital Warehouse</td>
        <td>7-12 PM</td>
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html> 

